{% extends 'base.html' %}

{% block title %}Parking Vison - Liên Hệ{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" media="screen">
{% endblock %}

{% block content %}

<section class="u-clearfix u-section-1" id="carousel_a3ee">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-size-30">
            <div class="u-layout-col">
              <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" data-image-width="834" data-image-height="480">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-container-layout-1"></div>
              </div>
            </div>
          </div>
          <div class="u-size-30">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h4 class="u-text u-text-1">About Us</h4>
                  <p class="u-text u-text-2">Nếu có vấn đề thắc mắc vui lòng liên hệ theo các địa chỉ bên dưới</p>
                  <p class="u-text u-text-3">Address: Distrist 9, Ho Chi Minh City <br>Email: nguyenvanhhiepcmg@gmail.com <br>Phone: 0973550322<br>Website:&nbsp;https://hiepnguyenit.github.io/
                  </p><span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-63c9"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-63c9" style="enable-background:new 0 0 512 512;"><path style="fill:#1976D2;" d="M448,0H64C28.704,0,0,28.704,0,64v384c0,35.296,28.704,64,64,64h384c35.296,0,64-28.704,64-64V64  C512,28.704,483.296,0,448,0z"></path><path style="fill:#FAFAFA;" d="M432,256h-80v-64c0-17.664,14.336-16,32-16h32V96h-64l0,0c-53.024,0-96,42.976-96,96v64h-64v80h64  v176h96V336h48L432,256z"></path></svg></span>
                  <p class="u-text u-text-4">
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="https://www.facebook.com/HiepNguyen1304/">https://www.facebook.com/HiepNguyen1304/</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}